$bg-width: 50px;
$bg-height: 50px;

body {
  // background-color: #222;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('./components/img/background-gold2.png') repeat 0 0;

  // background: url('./components/img/background-gold2.png') repeat 0 0;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center; 
  // background-color: #e76f51;
	background-size: 50%;
  // image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated; 
	height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  cursor: url("components/img/cursor/default.png"), auto !important; 


  -webkit-animation: bg-scrolling-reverse 55s infinite; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse 55s infinite; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse 55s infinite; /* Opera 12+ */
  animation:         bg-scrolling-reverse 55s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
  
  &::before {
    font-size: 8rem;
    font-weight: 100;
    font-style: normal;
  }
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled), .close-button {
  cursor: url("components/img/cursor/point.png") 10 0, auto !important; 
}

body {
  display: block;
  border: 0px;
  height: 10px;
  background: url("") repeat-x top left, auto !important;
}


a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

h3 {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.clickMe {
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 700;
}

// --------------------- FLEXBOX ---------------------

// #overall-body {
//   background-color: khaki;
//   display: flex;
//   flex-direction: column;
//   // justify-content: space-around;

//   width: 100vw;
//   height: 100vh;
// }

// #header-container {
//   background-color: antiquewhite;
//   // height: 160px;
//   // flex-basis: 50%;
//   flex-basis: 15%;
//   margin-bottom: 10px;
// }

// #main-container {
//   background-color: gray;
//   flex-basis: 60%;

//   // padding: 5px 20px 10px 20px;
//   // margin-top: 10px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// #spotify-auth {
//   // background-color: #264653;
//   // bottom: 10px;
//   // position: relative;
//   // width: 500px;
//   // left: 50%;
//   // transform: translate(-50%, 0);
//   // padding: 5px;
//   // z-index: 50;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 40%;

//   padding: 5px;
//   background-color: #264653;
//   color: #fff; 
//   align-self: center;
//   justify-self: flex-end;

//   flex-basis: 10%;
// }

#overall-body {
  display: flex;
  flex-direction: column;
  /* /* justify-content: center; */
  /* align-items: center; */
  width: 100vw;
  height: 100vh;
}

#header-container {
  // background-color: antiquewhite;
  /* width: 100vw; */
  /* height: 150px; */
  flex-basis: 15%;
  /* flex-grow: 2; */
  // margin-bottom: 20px;
}

#main-container {
  // background-color: gray;
  flex-basis: 70%;
  // margin-bottom: 20px;

  display: flex;
  justify-content: center;
}

.goals {
  /* height: 100%; */
  // background-color: aqua;
  padding: 50px;
  margin: 0px 20px 0px 20px;
  flex-basis: 30%;
  /* width: 500px; */
}

#spotify-auth {
  /* bottom: 0px; */
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  /* left: 50%;
  height: 50px;
  transform: translate(-50%, 0); */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  // background-color: #264653;
  color: #fff; 
  align-self: center;
  justify-self: flex-end;

  flex-basis: 10%;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}