$bg-width: 50px;
$bg-height: 50px;

body {
  // background-color: #222;
  background: url('./components/img/background.png') repeat 0 0;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center; 
  // background-color: #e76f51;
	background-size: 50%;
  // image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated; 
	height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  cursor: url("components/img/cursor/default.png"), auto !important; 


  -webkit-animation: bg-scrolling-reverse 15s infinite; /* Safari 4+ */
  -moz-animation:    bg-scrolling-reverse 15s infinite; /* Fx 5+ */
  -o-animation:      bg-scrolling-reverse 15s infinite; /* Opera 12+ */
  animation:         bg-scrolling-reverse 15s infinite; /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function:    linear;
  -o-animation-timing-function:      linear;
  animation-timing-function:         linear;
  
  &::before {
    font-size: 8rem;
    font-weight: 100;
    font-style: normal;
  }
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled), .close-button {
  cursor: url("components/img/cursor/point.png") 10 0, auto !important; 
}

body {
  display: block;
  border: 0px;
  height: 10px;
  background: url("components/img/hr.png") repeat-x top left, auto !important;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

h3 {
  padding: 0;
  margin: 0;
}

.total-goals {
  margin-top: 20px;
  /* padding: 2px 0px 5px 0px; */
  /* border: 1px solid #bbb; */
  border-radius: 10px;
	background: linear-gradient(-45deg, #055b7e, #42a3c9);
  width: 90%;
  height: 100px;
  color: #fff;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.login-streak {
  margin-top: 20px;
  /* padding: 2px 0px 5px 25px; */
  /* border: 1px solid #bbb; */
  border-radius: 10px;
	background: linear-gradient(-45deg, #ffa856, #fa633d);
  width: 90%;
  height: 100px;
  color: #07374a;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.star-drop {
  height: 50%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clickMe {
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 700;
}

.full-page {
  width: 100%;
  height: 100vh;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling-reverse {
  100% { background-position: $bg-width $bg-height; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-moz-keyframes    bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@-o-keyframes      bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}
@keyframes         bg-scrolling {
  0% { background-position: $bg-width $bg-height; }
}