#battle-theme {
  bottom: 0px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  color: #fff; 
  image-rendering: pixelated;
  z-index: 10;
  font-family: 'Tourney', cursive;
  width: 500px;
  // &:active, &:focus, &:hover {
  //   background-color: transparent;
  //   // border: none;
  //   outline: none !important;
  //   outline-offset: none !important;
  //   box-shadow: none !important;
  // }
  
}
