#battle-theme {
  bottom: 0px;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  background-color: #264653;
  color: #fff; 
  .main-wrapper {
    display: flex;
    img {
      width: 50px
    }
  }
}
