#main-container {
  /* background-color: gray; */
  padding: 30px;
  margin-top: 10px;
}

.goals-box {
  background-color: rgb(110, 43, 219); 
  display: flex;
  flex-direction: row;
  height: 600px;
  justify-content: center;
  margin: 0 auto;
  padding: 30px;
  
}