// .goals {
//   height: auto;
//   // background-color: rgb(21, 81, 172);
//   padding: 20px 30px 30px 30px;
//   margin: 0px 20px 0px 20px;
//   width: 400px;
//   border-radius: 5px;
//   display: flex;
//   justify-content: flex-start;
//   flex-direction: column;
//   align-items: center;
//   // overflow: scroll;
//   overflow-x: hidden;
// }

.goals {
  /* height: 100%; */
  padding: 50px;
  margin: 0px 20px 0px 20px;
  flex-basis: 30%;
  width: 30%;
  // width: 500px;
}

@media only screen and (min-width: 1025px) {
  .goals {
    overflow-y: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .goals {
    margin-bottom: 30px;
    width: 90%;
    // height: 500px;
  }
}

@media only screen and (max-width: 450px) {
  .goals {
    width: 100%;
  }
}