#main-container {
  // background-color: gray;
  padding: 10px 20px 20px 20px;
  // margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goals-box {
  background-color: rgb(110, 43, 219); 
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: 68vh;
  justify-content: center;
  margin: 0 auto;
  padding: 30px;
}