.goal-entry {
  flex-direction: row;
  // background-color: honeydew;
  width: 100%;
  min-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 3px;
  border-style: solid;
  border-image-source: url("img/border-image-pale.png");
  border-image-repeat: repeat;
  border-image-slice: 4 4 4 4;
  // border-image-width: 18px;
  border-width: 5px;
  padding: 3px;
  /* internal border */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* background */
  background: url("img/background-image-pale.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center; 
}

.rpgui-content {
  
  li {
    margin-top: 15px;
    left: 0;

    .rpgui-icon {
      width: 30px;
      height: 35px;
    }
  }
  
  .goals-title-name {
    // font-family: 'Tourney', cursive;
    font-family: 'Roboto', sans-serif;
    background: none;
    font-size: 1.25em;
    text-shadow: none;
    color: #222;
    margin: 0;
    padding: 0;
    width: 200px;
  }

  .goals-status-name {
    padding: 0;
    // font-family: 'Tourney', cursive;
    // font-family: 'Roboto', sans-serif;
    margin: 2px 5px 0px 5px;
    background: none;
  }

}

.pencil-edit-button, .edit-button {
  transform: rotate(-140deg);
  margin: 0px 5px 0px 5px;
  right: 0;
  cursor: url("img/cursor/point.png") 10 0, auto !important;
  opacity: 0.2;

  &:hover {
    -webkit-transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    -ms-transition: opacity 0.15s ease-in-out;
    -o-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
    opacity: 1;
  }
}


  // .tooltip .tooltiptext {
  //   visibility: hidden;
  //   color: #222;
  //   text-align: center;
  //   border-radius: 6px;
  //   padding: 5px 0;
    
  //   /* Position the tooltip */
  //   position: absolute;
  //   z-index: 1;
  //   left: 200px;
  // }

  // .tooltip:hover .tooltiptext {
  //   visibility: visible;
  // }

  // .wrapper {
  //   position: absolute;
  //   background: pink;
  //   padding: 1em;
  //   box-sizing: border-box;
  //   min-height: 50px;
  //   width: 500px;
  //   bottom: 0;
  // }

  .tooltip {
    position: relative;
    display: inline-block;
    // border-bottom: 1px dotted black;
    opacity: 1;

    .nes-balloon .tooltip-text-hover {
      font-family: 'Roboto', sans-serif;
    }
  }
  
  .tooltip .tooltiptext {
    // visibility: hidden;
    width: 326px;
    background-color: #181818e0;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 35px;
    left: -36%;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
