.goal-entry {
  flex-direction: row;
  background-color: honeydew;
  width: 100%;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 3px;
  // font-family: 'Tourney', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 3px;
}

.rpgui-content {
  
  li {
    margin-top: 15px;
    left: 0;

    .rpgui-icon {
      width: 30px;
      height: 35px;
    }
  }
  
  .goals-title-name {
    // font-family: 'Tourney', cursive;
    font-family: 'Roboto', sans-serif;
    background: none;
    font-size: 1.25em;
    text-shadow: none;
    color: #222;
    margin: 0;
    padding: 0;
    width: 200px;
  }

  .goals-status-name {
    padding: 0;
    // font-family: 'Tourney', cursive;
    // font-family: 'Roboto', sans-serif;
    margin: 2px 5px 0px 5px;
    background: none;
  }

}

.pencil-edit-button, .edit-button {
  transform: rotate(-140deg);
  margin: 0px 5px 0px 5px;
  right: 0;
  cursor: url("img/cursor/point.png") 10 0, auto !important;
}