.goal-entry {
  flex-direction: row;
  background-color: honeydew;
  width: 100%;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 3px;
  // font-family: 'Tourney', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rpgui-content .goals-title-name {
  // font-family: 'Tourney', cursive;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  text-shadow: none;
  color: #222;
  margin: 0;
  padding: 0;
  width: 200px;
}

.rpgui-content .goals-status-name {
  padding: 0;
  // font-family: 'Tourney', cursive;
  font-family: 'Roboto', sans-serif;
  margin: 0px 5px 0px 5px;
}

li .rpgui-icon {
  width: 30px;
  height: 35px;
}

.pencil-edit-button, .edit-button {
  transform: rotate(-140deg);
  margin: 0px 5px 0px 5px;
  right: 0;
}