.demo {
  /* background-color: white; */
  /* border: 1px solid black; */
  border-radius: 10px;
  left: 50%;
  height: 600px;
  max-height: 80%;
  max-width: 80%;
  padding: 10px 15px;
  /* opacity: 0.2; */
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 1700px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: 3em; */
  color: #fff;
  /* font-family: 'Patrick Hand', cursive; */
}
.logo {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 30%;
  justify-content: center;
}
.hype {
  /* font-family: 'Press Start 2P', cursive; */
  /* font-family: 'Single Day', cursive; */
  /* color: #fa633d; */
  font-family: 'Tourney', cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 6em;
  text-shadow: 0 30px 20px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.1);
}
.hub {
  /* color: #fa633d; */
  /* color: #DAD5ED; */
  // font-family: 'Fredoka One', cursive;
  /* font-family: 'Concert One', cursive; */
  /* font-family: 'Single Day', cursive; */
  /* font-family: 'Gochi Hand', cursive; */
  /* font-family: 'Sniglet', cursive; */
  /* font-family: 'Convergence', sans-serif; */
  /* font-family: 'Autour One', cursive; */
  /* font-family: 'Short Stack', cursive; */
  /* padding-top: 5px; */
  margin-left: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 4.75em;
  text-shadow: 0 30px 20px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.1);
}

.body-text {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  /* color: #fa633d; */
  font-family: 'Roboto', sans-serif;
  text-shadow: 0 30px 20px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.1);
}
.icon-navi {
  text-align: center;
  animation: move 1s infinite alternate;
  cursor: url("img/cursor/point.png") 10 0, auto !important; 
}

@keyframes move{
  0%   { transform: translateY(0); }
  100% { transform: translateY(-5px); }
}

// @media all and (min-width: 480px) {
  .Login {
    padding: 20px 0;
    width: 500px;
  }

  .Login form {
    margin: 0 auto;
    width: 320px;
  }

  .slide-down-arrow {
    background-color: transparent;
    border: none;
  
    &:active, &:focus, &:hover{
      background-color: transparent;
      border: none;
      outline: none !important;
      outline-offset: none !important;
      box-shadow: none !important;
    }
  }

  .btn-lg {
    margin: 10px 0px 0px 0px;
  }
// }