#nav-bar {
  // background-color: rgb(160, 160, 160);
  // width: 100px;
  height: 140px;
  margin-top: 20px;
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  // align-items: center;
  // justify-content: space-around;
}

.new-goal-button {
  background: none;

  .exclamation {
    width: 90px;
  }
  
  .new-goal-text {
    font-family: 'Tourney', cursive;
    color: #fff;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 500px) {
  .new-goal-button {
    height: 100px;
    
    .exclamation {
      width: 50px;
    }
  }
}