.skills-bar {
  margin-top: 10px;
  padding: 2px 0px 5px 25px;
  /* border: 1px solid #bbb; */
  border-radius: 10px;
  background-color: rgba(156, 156, 156, 0.4);;
  width: 90%;
  image-rendering: pixelated;
}

.skills-bar .bar {
  margin: 0px 0px 29px 0px;
}

.skills-bar .bar .info {
  font-size: 1em;
  font-weight: 500;
}

.skills-bar .bar .info {
  margin-bottom: 8px;
  color: #07374a;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 90%;
  background: #f8f7f7;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: #74188b;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progress-line .strength {
  width: 80%;
}
.progress-line .vitality {
  width: 70%;
}
.progress-line .knowledge {
  width: 82%;
}
.progress-line .social {
  width: 62%;
}
.progress-line .willpower {
  width: 90%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #07374a;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}

.skills-bar .bar .progress-line {
  position: relative;
  height: 10px;
  width: 90%;
  background: #f8f7f7;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line span {
  position: absolute;
  background: #74188b;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progress-line .strength {
  width: 80%;
}
.progress-line .vitality {
  width: 70%;
}
.progress-line .knowledge {
  width: 82%;
}
.progress-line .social {
  width: 62%;
}
.progress-line .willpower {
  width: 90%;
}

.bar .progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #07374a;
}

.bar .progress-line span::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}

.rpgui-content {
  .skill-attribute-name {
    font-size: 1em;
    color: #fff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .knowledge-icon {
      width: 19px;
      height: 19px;
    }

    .strength-icon {
      width: 20px;
      height: 20px;
    }

    .willpower-icon {
      width: 20px;
      height: 20px;
    }
  }
}

.user-progress-line {
  .attributes {
    background-repeat: repeat-x;
    background-size: 36px 100%;
  }
  .user-str{
    background-image: url('img/progress-red.png');
  }
  .user-vit{
    background-image: url('img/progress-blue.png');
  }
  .user-kno{
    background-image: url('img/progress-yellow.png');
  }
  .user-soc{
    background-image: url('img/progress.png');
  }
  .user-wil{
    background-image: url('img/progress-green.png');
  }
}

.bar .user-progress-line span::before {
  position: absolute;
  content: "";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
}
