#spotify-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 5px;
  // background-color: #264653;
  color: #fff; 
  align-self: center;
  justify-self: flex-end;
  flex-basis: 10%;
  .spotify-auth-header {
    color: #fff; 
    text-align: center;
    font-family: 'Tourney', cursive;
    a > img {
      margin: 0 5px;
      height: 30px;
    }
  }

}


.rpgui-content .spotify-content {
  a {
    color: inherit;
  }
}

@media only screen and (max-width: 768px) {
  #spotify-auth {
    width: 80%;
  }
}