#spotify-auth {
  bottom: 0px;
  position: fixed;
  width: 40%;
  left: 50%;
  transform: translate(-50%, 0);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 5px;
  .spotify-auth-header {
    color: #fff; 
    text-align: center;
    font-family: 'Tourney', cursive;
    a > img {
      margin: 0 5px;
      height: 30px;
    }
  }
}

.rpgui-content .spotify-content {
  width: 100%;
  
  a {
    color: inherit;
  }
}
